{% extends 'base.html' %}
{% load quiz_filter %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top: 120px">
        <div class="col col-6" style="margin: 0 auto" id="quiz_body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% include 'includes/question_block.html' with question=quiz|question is_last=is_last %}
        </div>
    </div>
</div>
{% endblock content %}